<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form handling</title>
</head>
<body>
  <h1>form handling in ejs with node</h1>
 <form action="">
  name:<input type="text" name="name" placeholder="Enter your name">
  <br>
  <br>
  email:<input type="email" name="email" placeholder="Enter your email">
  <br>
  <br>
  <input type="submit" name="button" value="submit">
 </form>  
</body>
</html>