<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In this i learned about the model view controllers</title>
</head>
<body>
 <h1>hello gyus in lesrnig the model view controller in this lecture</h1> 
 <form action="/form-submit" method="post">
  Name:- <input type="text" name="name">
  Email:- <input type="email" name="email">
  contact:- <input type="number" name="contact">
  password:- <input type="password" name="password">
  age:- <input type="number" name="age">
  date:- <input type="date" name="date">
  <input type="submit" value="submit">
 </form> 
</body>
</html>